.calendar_manager {
    overflow: auto;
    padding: 1px;
}


/* time inputs */

input.time_input,
select.time_input {
    height: 16px;
    border: 1px solid #999;
    padding: 1px;
    margin: 0 2px 0 0;
    vertical-align: bottom;
}

input.time_input {
    width: 34px;
}

select.time_input {
    width: 54px;
    height: 20px;
    margin-top: 1px;
}



.calendar_manager .popup_time {
    display: none;
    position: fixed;
    background: #FFF;
    z-index: 30000;
    height: 96px;
    width: 160px;
    border: 1px solid #AEC0E0;
    text-align: right;
}


    .calendar_manager .popup_time a {
        cursor: pointer;
        width: 38px;
        height: 14px;
        float: left;
        padding: 1px;
        text-decoration: none;
        color: #333;
    }

    .calendar_manager .popup_time a:hover {
        background: #cfdfef;
        text-decoration: none;
    }


.calendar_manager table{
    width:100%;

}
.calendar_manager .tdTop{
    vertical-align: top;
}

.calendar_manager .div_btn{
    padding:1px 3px 0px 1px;
    background:white;
    height:16px;
    width:120px;
}
.calendar_manager .popup_cal{
    width:16px;
    height:16px;
    cursor:pointer;
    background-image:url(/static/site.images/icons/calendar.gif);
}
.calendar_manager .rec_div{
    padding-top: 5px; 
    padding-right: 5px; 
    padding-bottom: 5px;
}
    


.calendar_manager .month_rules {
    width: auto;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

    .calendar_manager .month_rules div {
        border-bottom: 1px solid #999;
        position: relative;
        height: 16px;
        padding: 4px 6px;
    }

    .calendar_manager .month_rules img {
        position: absolute;
        top: 4px;
        right: 4px;
    }